<!DOCTYPE html>
<html>
<head>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <style>
        .nav-link:hover {
            color: blue !important;
        }

        .kkEiAx {
            top: -8px;
            left: 16px;
            position: absolute;
            height: 0px;
            width: 0px;
            border-style: solid;
            border-width: 0px 8px 8px;
            border-color: transparent transparent rgb(255, 255, 255);
        }
        .btn-outline-success.button:hover {
            background-color: rgb(255, 86, 125);
            color: white !important;
        }
        .btn-outline-success:focus {
            box-shadow: none !important;
        }
        .btn-outline-success.button1:hover {
            background-color: rgb(62, 108, 234);
            color: white !important;
        }
        nav {
            /* Đường dẫn tới hình ảnh */
            background-size: cover; /* Đảm bảo hình ảnh sẽ đổ đầy phần tử */
            background-position: center; /* Canh giữa hình ảnh */
            /* background-color: aqua; */
            /* Nếu bạn muốn thêm các thuộc tính CSS khác, bạn có thể thêm ở đây */
        }
        .help > a {
            text-decoration: none;
            color: black;
        }
        .help > a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>

<div class="container-fluid">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <div class="logo" style="margin-right: -50px">
                    <img
                            src="https://cdn6.agoda.net/images/kite-js/logo/agoda/color-default.svg"
                            width="50%"
                            height="100%"
                            alt="Primary Logo"
                    />
                </div>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#"
                            >Máy Bay + K.s</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#1"
                            >Chỗ ở</a
                            >
                        </li>
                        <li class="nav-item dropdown">
                            <a
                                    class="nav-link dropdown-toggle active"
                                    href="#"
                                    id="navbarDropdown"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                    aria-current="page"
                            >
                                Phương tiện di chuyển
                            </a>
                            <ul
                                    class="dropdown-menu mt-4"
                                    aria-labelledby="navbarDropdown"
                                    style="border: none"
                            >
                                <div
                                        class="sc-beySPh sc-guDLey kvEAVE sc-blmEgr kkEiAx"
                                ></div>
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li>
                                    <a class="dropdown-item" href="#">Another action</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#1"
                            >Hoạt động</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#1"
                            >Phiếu giảm giá và ưu đãi</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#1"
                            >eSim</a
                            >
                        </li>
                    </ul>
                    <form class="d-flex">
                        <div class="btn1">
                            <button
                                    class="btn btn-outline-success button mt-1"
                                    type="submit"
                                    style="
                      color: rgb(255, 86, 125);
                      border-color: rgb(255, 86, 125);
                      margin-right: 20px;
                    "
                            >
                                Đăng ký cho thuê nhà
                            </button>
                        </div>
                        <div class="flag mt-2">
                            <a href="#">
                                <img
                                        class="Flag__StyledCdnIcon-sc-nifs7d-0 klhocw"
                                        src="https://cdn6.agoda.net/images/mobile/flag-vn@2x.png"
                                        alt="Tiếng Việt"
                                        width="26px"
                                        height="auto"
                                />
                            </a>
                        </div>
                        <div class="mt-2">
                            <div role="button">
                                <p style="margin-left: 20px; margin-right: 20px">₫</p>
                            </div>
                        </div>
                        <div class="mt-1">
                            <button
                                    class="btn btn-outline-success button1"
                                    type="submit"
                                    style="
                      color: rgb(62, 108, 234);
                      border-color: rgb(62, 108, 234);
                      margin-right: 20px;
                      border: none;
                    "
                            >
                                Đăng nhập
                            </button>
                        </div>
                        <div class="mt-1">
                            <button
                                    class="btn btn-outline-success button1"
                                    type="submit"
                                    style="
                        color: rgb(62, 108, 234);
                        border-color: rgb(62, 108, 234);
                        margin-right: 20px;
                      "
                            >
                                Tạo tài khoản
                            </button>
                        </div>

                        <a href="">
                            <i
                                    class="fa-solid fa-cart-shopping mt-3"
                                    style="color: black; width: 26px"
                            ></i>
                        </a>
                    </form>
                </div>
            </div>
        </nav>
        <!-- thanh search -->
        <style>
            /* CSS tùy chỉnh để căn giữa thanh tìm kiếm */
            .search-container {
                display: flex;
                justify-content: center;
                margin-top: 20px; /* Khoảng cách từ phía trên */
                margin-bottom: 20px;
            }
            .search-container .input-group {
                max-width: 600px; /* Điều chỉnh độ rộng tối đa theo ý muốn */
                width: 100%;
            }
        </style>
        <div class="container">
            <div class="search-container">
                <div class="input-group">
                    <input id="search-input" type="search" class="form-control" value="Hà Nội" aria-label="Search" />
                    <button id="search-button" type="button" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- menu bar lựa chọn -->
        <style>
            /* CSS tùy chỉnh để căn đều các mục */
            .menu-mini .navbar-nav {
                flex: 1;
                justify-content: space-between;
            }
            .menu-mini .nav-item {
                flex: 1;
                text-align: center;
                position: relative;
            }
            .menu-mini .nav-link {
                padding: 0.5rem 1rem;
            }
            .menu-mini .nav-link.active::after {
                content: '';
                display: block;
                width: 100%;
                height: 2px;
                background-color: #007bff; /* Màu xanh Bootstrap mặc định */
                position: absolute;
                bottom: 0;
                left: 0;
            }
        </style>

        <div class="menu-mini">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Tất cả</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Chuyến tham quan</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Trải Nghiệm</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Ẩm thực</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Di chuyển</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Điểm tham quan</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Hành trang du lịch</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Sim và Wifi</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!-- thanh sắp xếp -->
        <style>
            /* CSS tùy chỉnh để làm cho thanh điều chỉnh giá dài hơn */
            .price-slider-container {
                position: relative;
                width: 200px;
                margin: 20px auto;
            }

            .price-slider {
                width: 100%;
            }

            .price-display {
                position: absolute;
                top: -30px;
                left: 50%;
                transform: translateX(-50%);
            }

        </style>
        <div class="row" style="margin-top: 20px;">
            <aside class="col-sm-2">
                <div class="card poly-cart">
                    <div class="card-body">
                        <h3>SẮP XẾP</h3>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                Được ưa chuộng
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                                Giá thấp nhất trước
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                                Xếp hạng cao nhất trước
                            </label>
                        </div>
                        <!-- Giá -->
                        <p style="font-weight: bold; font-size: 25px; margin-left: 20px; margin-top: 10px;">Giá</p>
                        <div class="price-slider-container">
                            <input type="range" min="0" max="10000000" value="0" class="price-slider" id="priceSlider">
                            <div class="price-display" id="priceDisplay">0đ</div>
                        </div>
                        <h3>THỜI GIAN</h3>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                            <label class="form-check-label" for="flexCheckDefault1">
                                Tối đa 1 tiếng
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                            <label class="form-check-label" for="flexCheckDefault2">
                                1 tới 4 tiếng
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
                            <label class="form-check-label" for="flexCheckDefault3">
                                Hơn 4 tiếng
                            </label>
                        </div>

                        <div class="accordion" id="Chungloai">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Danh mục
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#Chungloai">
                                    <div class="accordion-body">
                                        <div class="col">
                                            <div class="form-check" style="margin-bottom: 20px;">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    Tất cả (4257)
                                                </label>
                                            </div>
                                            <div class="form-check" style="margin-bottom: 20px;">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                                <label class="form-check-label" for="flexRadioDefault2">
                                                    Chuyến tham quan (3617)
                                                </label>
                                            </div>
                                            <div class="form-check" style="margin-bottom: 20px;">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                                                <label class="form-check-label" for="flexRadioDefault3">
                                                    Trải nghiệm (631)
                                                </label>
                                            </div>


                                            <div class="form-check" style="margin-bottom: 20px;">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
                                                <label class="form-check-label" for="flexRadioDefault4">
                                                    Đồ ăn & Thức uống (430)
                                                </label>
                                            </div>
                                            <div class="form-check" style="margin-bottom: 20px;">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault5">
                                                <label class="form-check-label" for="flexRadioDefault5">
                                                    Di chuyển (370)
                                                </label>
                                            </div>
                                            <div class="form-check" style="margin-bottom: 20px;">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault6">
                                                <label class="form-check-label" for="flexRadioDefault6">
                                                    Điểm tham quan (94)
                                                </label>
                                            </div>


                                            <div class="form-check" style="margin-bottom: 20px;">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault7">
                                                <label class="form-check-label" for="flexRadioDefault7">
                                                    Hành trang du lịch (11)
                                                </label>
                                            </div>
                                            <div class="form-check" style="margin-bottom: 20px;">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault8">
                                                <label class="form-check-label" for="flexRadioDefault8">
                                                    Sim và Wifi (9)
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <article class="col-sm-9">
                <style>
                    .price {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        margin: 0;
                    }

                </style>
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-sm-3">
                        <div class="card"style="height: 110%;">
                            <img src="https://media-cdn.tripadvisor.com/media/attractions-splice-spp-720x480/12/37/fb/fa.jpg?s=1024x" class="card-img-top" alt="Hotel Image">
                            <div class="card-body">
                                <h5 class="card-title">Hotel Name</h5>
                                <div class="hotel-details">
                                    <span class="stars">★4.4</span>
                                </div>
                                <div class="hotel-gia">
                                    <span class="price">$100</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="card"style="height: 110%;">
                            <img src="https://media-cdn.tripadvisor.com/media/attractions-splice-spp-720x480/07/2a/4e/69.jpg?s=16x" class="card-img-top" alt="Hotel Image">
                            <div class="card-body">
                                <h5 class="card-title">Hotel Name</h5>
                                <div class="hotel-details">
                                    <span class="stars">★4.4</span>
                                </div>
                                <div class="hotel-gia">
                                    <span class="price">$100</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card"style="height: 110%;">
                            <img src="https://image.kkday.com/v2/image/get/w_1920,h_1080,c_fit,q_55,wm_auto/s1.kkday.com/product_129681/20220523022825_BrR9W/jpg?s=1024x" class="card-img-top" alt="Hotel Image">
                            <div class="card-body">
                                <h5 class="card-title">Hotel Name</h5>
                                <div class="hotel-details">
                                    <span class="stars">★4.4</span>
                                </div>
                                <div class="hotel-gia">
                                    <span class="price">$100</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card"style="height: 110%;">
                            <img src="https://image.kkday.com/v2/image/get/w_1920,h_1080,c_fit,q_55,wm_auto/s1.kkday.com/product_149742/20230811080835_7DG7n/jpg?s=600x" class="card-img-top" alt="Hotel Image">
                            <div class="card-body">
                                <h5 class="card-title">Hotel Name</h5>
                                <div class="hotel-details">
                                    <span class="stars">★4.4</span>
                                </div>
                                <div class="hotel-gia">
                                    <span class="price">$100</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 20px; margin-top: 50px;">
                    <div class="col-sm-3">
                        <div class="card"style="height: 110%;">
                            <img src="https://media-cdn.tripadvisor.com/media/attractions-splice-spp-720x480/06/74/d9/12.jpg?s=600x" class="card-img-top" alt="Hotel Image">
                            <div class="card-body">
                                <h5 class="card-title">Hotel Name</h5>
                                <div class="hotel-details">
                                    <span class="stars">★4.4</span>
                                </div>
                                <div class="hotel-gia">
                                    <span class="price">$100</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card"style="height: 110%;">
                            <img src="https://media-cdn.tripadvisor.com/media/attractions-splice-spp-720x480/12/19/8a/e9.jpg?s=600x" class="card-img-top" alt="Hotel Image">
                            <div class="card-body">
                                <h5 class="card-title">Hotel Name</h5>
                                <div class="hotel-details">
                                    <span class="stars">★4.4</span>
                                </div>
                                <div class="hotel-gia">
                                    <span class="price">$100</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card"style="height: 110%;">
                            <img src="https://media-cdn.tripadvisor.com/media/attractions-splice-spp-720x480/0f/f0/35/20.jpg?s=600x" class="card-img-top" alt="Hotel Image">
                            <div class="card-body">
                                <h5 class="card-title">Hotel Name</h5>
                                <div class="hotel-details">
                                    <span class="stars">★4.4</span>
                                </div>
                                <div class="hotel-gia">
                                    <span class="price">$100</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card"style="height: 110%;">
                            <img src="https://image.kkday.com/v2/image/get/w_1920,h_1080,c_fit,q_55,wm_auto/s1.kkday.com/product_130771/20230825050753_G50vF/png?s=600x" class="card-img-top" alt="Hotel Image">
                            <div class="card-body">
                                <h5 class="card-title">Hotel Name</h5>
                                <div class="hotel-details">
                                    <span class="stars">★4.4</span>
                                </div>
                                <div class="hotel-gia">
                                    <span class="price">$100</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 20px;margin-top: 50px;">
                    <div class="col-sm-3">
                        <div class="card"style="height: 110%;">
                            <img src="https://q-xx.bstatic.com/xdata/images/xphoto/2500x1600/153572561.jpg?k=bfe172c5cb1c9a380ad0cb45591b02c2b0649adcea656387983ab597bd14c21e&o=&s=600x" class="card-img-top" alt="Hotel Image">
                            <div class="card-body">
                                <h5 class="card-title">Hotel Name</h5>
                                <div class="hotel-details">
                                    <span class="stars">★4.4</span>
                                </div>
                                <div class="hotel-gia">
                                    <span class="price">$100</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card"style="height: 110%;">
                            <img src="https://image.kkday.com/v2/image/get/w_1920,h_1080,c_fit,q_55,wm_auto/s1.kkday.com/product_23559/20240229091349_le5x0/jpg?s=600x" class="card-img-top" alt="Hotel Image">
                            <div class="card-body">
                                <h5 class="card-title">Hotel Name</h5>
                                <div class="hotel-details">
                                    <span class="stars">★4.4</span>
                                </div>
                                <div class="hotel-gia">
                                    <span class="price">$100</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card"style="height: 110%;">
                            <img src="https://media-cdn.tripadvisor.com/media/attractions-splice-spp-720x480/0f/69/74/eb.jpg?s=600x" class="card-img-top" alt="Hotel Image">
                            <div class="card-body">
                                <h5 class="card-title">Hotel Name</h5>
                                <div class="hotel-details">
                                    <span class="stars">★4.4</span>
                                </div>
                                <div class="hotel-gia">
                                    <span class="price">$100</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card"style="height: 110%;">
                            <img src="https://media-cdn.tripadvisor.com/media/attractions-splice-spp-720x480/10/8e/7e/37.jpg?s=600x" class="card-img-top" alt="Hotel Image">
                            <div class="card-body">
                                <h5 class="card-title">Hotel Name</h5>
                                <div class="hotel-details">
                                    <span class="stars">★4.4</span>
                                </div>
                                <div class="hotel-gia">
                                    <span class="price">$100</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>

    </header>
    <footer>
        <div class="row" style="background-color: rgb(238, 238, 238);margin-bottom: -24px; margin-top: 20px;" >
            <div class="col-3">
                <p style="margin-top: 20px; margin-bottom: 10px; text-align: center; font-weight: bold">
                    Trợ giúp
                </p>
                <div
                        class="help"
                        style="
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                text-align: center;
                padding-bottom: 10px;
              "
                >
                    <a href=""> Trung tâm trợ giúp </a>
                    <a href=""> Câu hỏi thường gặp </a>
                    <a href=""> Chính sách bảo mật </a>
                    <a href=""> Chính sách về cookie </a>
                    <a href=""> Điều khoản sử dụng </a>
                    <a href=""> Quản lý thiết lập cookie </a>
                    <a href=""> Đạo luật dịch vụ số (EU) </a>
                    <a href=""> Nguyên tắc và báo cáo nội dung </a>
                </div>
            </div>
            <div class="col-3">
                <p style="margin-top: 20px; text-align: center; font-weight: bold">
                    Công ty
                </p>
                <div
                        class="help"
                        style="
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                text-align: center;
              "
                >
                    <a href=""> Về chúng tôi </a>
                    <a href=""> Tuyển dụng </a>
                    <a href=""> Báo chí </a>
                    <a href=""> Nhật ký mạng </a>
                    <a href=""> PointsMAX </a>
                </div>
            </div>
            <div class="col-3">
                <p style="margin-top: 20px; text-align: center; font-weight: bold">
                    Điểm du lịch
                </p>
                <div
                        class="help"
                        style="
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                text-align: center;
              "
                >
                    <a href=""> Quốc gia </a>
                    <a href=""> Thành phố </a>
                </div>
            </div>
            <div class="col-3">
                <p style="margin-top: 20px; text-align: center; font-weight: bold">
                    Đối tác của chúng tôi
                </p>
                <div
                        class="help"
                        style="
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                text-align: center;
              "
                >
                    <a href=""> Cổng thông tin đối tác YCS </a>
                    <a href=""> Partner hub </a>
                    <a href=""> Quảng cáo trên Agoda </a>
                    <a href=""> Đối tác liên kết </a>
                    <a href=""> Đối tác kết nối </a>
                </div>
            </div>
        </div>
        <div class="panner">
            <div class="row">
                <div class="col-12 mt-4" style="background-color: #211f2c; width: 100%; height: auto; color: white; text-align: center; padding-top: 70px; padding-bottom: 100px;">
                    <p>Mọi nội dung tại đây © 2005 – 2024 Công ty TNHH Tư nhân Agoda. Bảo Lưu Mọi Quyền.</p>
                    <p>Agoda.com là thành viên của Tập đoàn Booking Holdings, nhà cung cấp dịch vụ du lịch trực tuyến & các dịch vụ có liên quan hàng đầu thế giới.</p>
                </div>
            </div>

        </div>
    </footer>
</div>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var priceSlider = document.getElementById("priceSlider");
        var priceDisplay = document.getElementById("priceDisplay");

        // Hàm định dạng số có dấu phân cách
        function formatPrice(number) {
            return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
        }

        // Cập nhật giá khi người dùng di chuyển thanh trượt
        priceSlider.addEventListener("input", function() {
            var price = priceSlider.value;
            var formattedPrice = formatPrice(price);
            priceDisplay.textContent = formattedPrice + "đ";
        });

        // Định dạng giá ban đầu
        var initialPrice = priceSlider.value;
        var formattedInitialPrice = formatPrice(initialPrice);
        priceDisplay.textContent = formattedInitialPrice + "đ";
    });
</script>
</body>

</html>